@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
  font-family: "Handlee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
	/* for global access */
	--main-bg-color: #000126;
	--default-font-color: #A2D2FF;
	--heading-color: #FFAFCC
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
	color: var(--default-font-color);
}

.main-header-heading {
	font-size: 3rem;
	text-align: center;
	color: var(--heading-color);
}