@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
* {
  font-family: "Handlee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root{
	/* for global access */
	--main-bg-color: #000126;
	--default-font-color: #BDE0FE;
	--heading-color: #FFAFCC;
	--links-color:#A2D2FF;
	--sub-heading-color:#FFC8DD;
	--heading-size: 3.5rem;
	--sub-heading-size: 2.5rem;
	--links-size: 1.3rem;
	--content-size: 1rem;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--main-bg-color);
	color: var(--default-font-color);
	text-align: center;
}

.main-header-heading {
	font-size: var(--heading-size);
	color: var(--heading-color);
}

#main-nav {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	font-size: var(--links-size);
	a {
		color: var(--links-color);
		text-decoration: none;
	}
}

.sub-headings {
	color: var(--sub-heading-color);
	font-size: var(--sub-heading-size);
}